<div id="<%= dom_id booking_type %>">
  <div class="relative block p-6 border shadow-xl rounded-lg hover:shadow-lg transition duration-300 ease-in-out overflow-hidden">
    <div class="absolute top-0 inset-x-0 w-full h-1.5" style="background-color: <%= booking_type.color %>"></div>
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h2 class="text-2xl font-bold text-gray-800"><%= booking_type.name.titleize %></h2>
        <p class="text-gray-600"><%= booking_type.description %></p>
      </div>
      <% if booking_type.price %>
        <div class="flex flex-col justify-center">
          <p class="text-xl text-orange-600 font-medium">$<%= booking_type.price %></p>
        </div>
      <% end %>
    </div>

    <div class="flex items-center gap-2 mt-2 mb-8">
      <p class="font-medium"><%= duration(booking_type) %></p>
      <span class="text-xl font-extrabold">⋅</span>
      <p class="text-gray-600"><%= booking_type.location.capitalize %></p>
    </div>

    <div class="flex justify-between mt-4">
      <%= link_to edit_booking_type_path(booking_type), class: "flex items-center gap-1 text-blue-500 font-medium" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
        </svg>
        View booking page
      <% end %>
    </div>

    <div class="flex gap-2 mt-3 pt-3 border-t-2 border-slate-200">
      <%= link_to "Copy link", "#", class: "text-blue-500 font-medium" %>
      <span class="w-[2px] bg-slate-300"></span>
      <%= link_to "Share", "#", class: "text-blue-500 font-medium" %>
    </div>
  </div>
</div>
