<tr id="<%= dom_id booking %>">
  <td class="p-4 border border-slate-300 text-left">
    <%= form_with(model: booking, method: :patch) do |form| %>
      <%= form.select :status, options_for_select(Booking.statuses.map { |key, value| [key.capitalize, key] }, form.object.status), {}, { class: input_class, onchange: "this.form.submit()" } %>
    <% end %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.name %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.email %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.start_at.strftime("%b %e, %Y at %l:%M %p") %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.end_at.strftime("%b %e, %Y at %l:%M %p") %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <span class="italic">
      <%= booking.notes %>
    </span>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.booking_type.name %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.booking_type.payment_required? ? "Yes" : "No" %>
  </td>

  <td class="p-4 border border-slate-300 text-left">
    <%= booking.customer_paid? ? "Yes" : "No" %>
  </td>
</tr>
