<%= form_with(model: booking, data: { turbo: false, action: "submit->payment#purchase", payment_target: "form" }) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
      <h2 class="text-lg font-semibold mb-3"><%= pluralize(booking.errors.count, "error") %>
        prohibited this booking from being saved:</h2>

      <ul class="list-disc leading-relaxed">
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="mb-2 text-lg font-bold">Personal Details</h3>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-6">
    <div>
      <%= form.label :name, class: label_class %>
      <%= form.text_field :name, class: input_class, data: { payment_target: "name" } %>
    </div>

    <div>
      <%= form.label :email, class: label_class %>
      <%= form.text_field :email, class: input_class, data: { payment_target: "email" } %>
    </div>
  </div>

  <div class="mb-6">
    <%= form.label :notes, class: label_class %>
    <%= form.rich_text_area :notes, class: input_class %>
  </div>

  <h3 class="mb-3 text-lg font-bold">Booking Details</h3>
  <% if @booking.new_record? %>
    <div class="mb-6">
      <div class="relative inline-block px-10 py-6 border border-slate-300 rounded shadow-sm">
        <%= form.label :booking_type_id, "Booking Type", class: label_class %>
        <input type="hidden" name="booking[booking_type_id]" value="<%= @booking_type.id %>">

        <div class="mr-3 text-3xl font-bold">
          <%= params[:booking_type].titleize %>
          <span class="absolute top-3 right-3 w-4 h-4 rounded-full" style="background-color: <%= @booking_type.color %>"></span>
        </div>
      </div>
    </div>
  <% else %>
    <%= @booking.booking_type.name %>
  <% end %>

  <div class="grid grid-cols-2 gap-4 mb-10">
    <div>
      <%= form.label :start_at, class: label_class %>
      <%= form.datetime_field :start_at, class: input_class, min: Date.today %>
    </div>

    <div>
      <%= form.label :end_at, class: label_class %>
      <%= form.datetime_field :end_at, class: input_class, min: Date.today %>
    </div>
  </div>

  <%= form.submit @booking_type.payment_required? ? "Schedule for #{number_to_currency(@booking_type.price)}" : "Schedule for free", class: button_class(theme: "primary"), data: { payment_target: "submit" } %>

  <%= link_to "Cancel", user_path(booking_link: current_user.booking_link), class: "inline-block ml-3 text-gray-700 underline" %>
<% end %>
